<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="./site_mgr/LogIn.aspx"/>
    </authentication>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=                                                       PlacementDB2; Persist Security Info=True; User ID=Placementadmin2; Password=UMNGopher196"/>
    <add name="dbo.StudentPlacement" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=PlacementDB2; Persist Security Info=True; User ID=Placementadmin2; Password=UMNGopher!96" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>